{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br>
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <fieldset>
                <legend><i class="fa fa-user"></i>&nbsp;Datos de Responsable</legend>
                <br>

                <div class="form-group">
                    {{ form_label(edit_form.nombre,'Nombre:') }}
                    {{ form_errors(edit_form.nombre) }}
                    {{ form_widget(edit_form.nombre,{'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.apellidos,'Apellidos:') }}
                    {{ form_errors(edit_form.apellidos) }}
                    {{ form_widget(edit_form.apellidos,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.email,'Email:') }}
                    {{ form_errors(edit_form.email) }}
                    {{ form_widget(edit_form.email,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.institucion,'Institución:') }}
                    {{ form_errors(edit_form.institucion) }}
                    {{ form_widget(edit_form.institucion,{'attr':{'class':'form-control'}}) }}
                </div>

            </fieldset>
            <hr>
            <ul class="list-inline">
                <li>{{ form_widget(edit_form.submit,{'label':'Actualizar','attr':{'class':'btn btn-success'}}) }}</li>{{ form_end(edit_form) }}
                <li>{{ form(delete_form) }}</li>
                <li><a href="{{ path('responsable') }}" class="btn btn-primary" >Ir a lista</a></li>
                <li><a href="{{ path('responsable_show', { 'id': entity.id }) }}" class="btn btn-default" >Mostrar</a></li>
            </ul>

        </div>
    </div>
{% endblock %}
