{% extends 'SeminarioBundle::layout.html.twig' %}
{% block nav %}
    <li>
        <a href="{{ path('responsable_new') }}">
            Nuevo Responsable
        </a>
    </li>
{% endblock %}
{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            <legend>Lista responsables</legend>
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Institucion</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class=".table-hover">
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('responsable_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.apellidos }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.institucion }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('responsable_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('responsable_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </div>
    </div>

{% endblock %}
