{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            <h3><i class="fa fa-user"></i>&nbsp;Responsable</h3>
<br>
            <table class="table table-bordered">
                <tbody class=".table-hover">
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>{{ entity.apellidos }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Institucion</th>
                    <td>{{ entity.institucion }}</td>
                </tr>
                <tr>
                    <th>Seminarios</th>
                    <td>
                        <ol class="breadcrumb">
                            {% for seminario in entity.seminarios %}
                                <li><a href="{{ path('seminario_show', { 'id': seminario.id }) }}">{{ seminario.nombre }}</a></li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="list-inline">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>{{ form(delete_form) }}</li>
                    <li><a href="{{ path('responsable_edit', { 'id': entity.id }) }}" class="btn btn-default">Editar </a></li>
                {% endif %}
                <li><a href="{{ path('responsable') }}" class="btn btn-primary" >Ir a lista</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
