{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}
    <h1>Responsable</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Institucion</th>
                <td>{{ entity.institucion }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
    {% for seminario in entity.seminarios %}
            <li><a href="http://hugo.local/app_dev.php/seminario/{{ seminario.id }}/show">{{ seminario.nombre }}</a></li>
    {% endfor %}
    </ul>

        <ul class="record_actions">
    <li>
        <a href="{{ path('responsable') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('responsable_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
