{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    <br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}
    <h3>Seminario</h3>
        <br>

                <table class="table table-bordered">
                    <tbody class=".table-hover">
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Lugar</th>
                            <td>{{ entity.lugar }}</td>
                        </tr>
                        <tr>
                            <th>Hora</th>
                            <td>{{ entity.hora |date('H:i') }}</td>
                        </tr>
                        <tr>
                            <th>Estatus</th>
                            <td>{{ entity.estatus }}</td>
                        </tr>
                        <tr>
                            <th>Responsables</th>
                            <td>
                                <ol class="breadcrumb">
                                {% for responsable in entity.responsables %}
                                    {#<li><a href="http://hugo.local/app_dev.php/responsable/{{ responsable.id }}/show">{{ responsable.nombre }} {{ responsable.apellidos }}</a></li>#}

                                    <li><a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{ responsable.nombre }} {{ responsable.apellidos }}</a></li>

                                {% endfor %}
                                </ol>
                            </td>
                        </tr>

                    </tbody>
                </table>


    <div class="row">

        <div class="col-md-2"><a href="{{ path('seminario') }}" class="btn btn-default" >Ir a lista</a></div>
        {#{% if app.user and is_granted('ROLE_ADMIN') %}#}
        <div class="col-md-2">{{ form(delete_form) }}</div>
        <div class="col-md-2"><a href="{{ path('seminario_edit', { 'id': entity.id }) }}" class="btn btn-default">Editar </a></div>
        {#{% endif %}#}
    </div>
{% endblock %}