{% extends 'SeminarioBundle::layout.html.twig' %}
{% block body -%}
    <br>

    <h1><small><i class="fa fa-book"></i> Eventos de la semana CCM</small></h1>
    Del {{ "this week"|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM") }} al {{ "this week"|date_modify("+4 day")|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM y") }}
    <hr>
    {#{{ "Saturday this week" |date('d') }}#}

    {% for entity in entities %}
        <div class="row">
            <div class="col-md-1 text-center">
                {# {{ entity.fecha|date('d-m-Y') }} #}
                <button type="button" class="btn btn-primary">
                    <strong>{{ entity.fecha|date('d', false) }}</strong><br />
                    {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "EEE") }}
                </button>
            </div>
            <div class="col-md-11">
                <span style="font-size: 18px; color: #777">{{ entity.seminario | upper }}</span>
                <h4>{{ entity.platica }}</h4>
                <strong>{{ entity.ponente }}</strong> - <em>{{ entity.origen }}</em><br /><br />
                {{ entity.lugar }}<br />
                {{ entity.hora|date('H:i') }} horas<br /><br />
                {#{{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "cccc, d MMMM Y 'às' hh:mm aaa") }}#}

                <div class="page-header"></div>
            </div>
        </div>
        {#
                                {{ entity.platica }}
                                {{ entity.ponente }} {{ entity.origen }}
                                {{ entity.resumen }}
                                {{ entity.coment }}

                                {{ entity.lugar }}
                                {{ entity.fecha|date('d-m-Y') }} {{ entity.hora|date('H:i') }} hrs

                                #}
{#
        <br />Responsables:
        {% for responsable in entity.seminario.responsables %}
            <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{ responsable.nombre }} {{ responsable.apellidos }} </a> /
        {% endfor %}
#}

     {% endfor %}

{% endblock %}
