{% extends 'SeminarioBundle::layout.html.twig' %}
{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1><small><i class="fa fa-list"></i>&nbsp;&nbsp;Eventos anteriores</small></h1>
            <hr>
            {#{{ "Saturday this week" |date('d') }}#}
            {% for entity in entities %}
                <h4>{{ entity.seminario }}<small> {{ entity.lugar }}</small></h4>
                Responsables:
                {% for responsable in entity.seminario.responsables %}
                    <a href="{{ path('responsable_show', { 'id': responsable.id }) }}" ><i class="fa fa-user"></i>&nbsp;{{ responsable.nombre }} {{ responsable.apellidos }} </a> |
                {% endfor %}

                <div class="well well-lg">

                    <p align="center"><b>{{ entity.platica }}</b></p>
                    <h4>{{ entity.ponente }}<small> {{ entity.origen }}</small></h4>
                    <hr>
                    <p align="justify" >{{ entity.resumen }}</p>
                    <p>{{ entity.coment }}</p>
                    <hr>
                    <h5 align="right">{{ entity.fecha|date('d-m-Y') }} {{ entity.hora|date('H:i') }} hrs</h5>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
