<!DOCTYPE html>
<html ng-app="seminarios" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}Seminarios CCM-UNAM{% endblock %}</title>

    {% block css %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/seminario/css/ccm.css') }}">


    {% endblock %}

</head>
<style type="text/css">
    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 1.42857;
        color: #333;
        background-color: #FFF;
    }
</style>

<body>
{#    <h2><small><i class="fa fa-book"></i> Coloquio de la semana CCM UNAM</small></h2>
    Del {{ "this week"|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM") }} al {{ "this week"|date_modify("+4 day")|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM y") }}
    <div class="page-header"></div>#}
<h1></h1>
    {#{{ "Saturday this week" |date('d') }}#}

    {% for entity in entities %}

        {% if (entity.seminario == 'COLOQUIO DEL PCCM') or (entity.seminario == 'COLOQUIO') %}
            {#<div class="row">
                {#<div class="col-md-1 text-center">
                    <button type="button" class="btn btn-primary">
                        <strong>{{ entity.fecha|date('d', false) }}</strong><br />
                        {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "EEE") }}
                    </button>
                </div>
                <div class="col-md-12">#}
                    <span style="font-size: 16px; color: #777">{{ entity.seminario | upper }}</span>
                    <h4>{{ entity.platica }}</h4>
                    <strong>{{ entity.ponente }}</strong> - <em>{{ entity.origen }}</em><br />
                    {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "cccc, d 'de' MMMM 'del' Y") }}<br />
                    {{ entity.lugar }}<br />
                    {{ entity.hora|date('H:i') }} horas<br />
{#                </div>
            </div>#}
        {% endif %}

    {% endfor %}
{#    <h1></h1>
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#seminariosModal">
                Ver todos los seminarios de la semana
            </button>
        </div>
    </div>#}
    <!-- Modal -->
    <div class="modal fade" id="seminariosModal" tabindex="-1" role="dialog" aria-labelledby="seminariosModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="myModalLabel">
                        <small><i class="fa fa-book"></i> Eventos de la semana CCM UNAM</small>
                    </h2>
                    Del {{ "this week"|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM") }} al {{ "this week"|date_modify("+4 day")|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM y") }}
                </div>
                <div class="modal-body">
                    {% for entity in entities %}
                            <div class="row">
{#                                <div class="col-md-1 text-center">
                                    <button type="button" class="btn btn-primary">
                                        <strong>{{ entity.fecha|date('d', false) }}</strong><br />
                                        {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "EEE") }}
                                    </button>
                                </div>#}
                                <div class="col-md-12">
                                    <span style="font-size: 14px; color: #777">{{ entity.seminario | upper }}</span>
                                    <h4>{{ entity.platica }}</h4>
                                    <strong>{{ entity.ponente }}</strong> - <em>{{ entity.origen }}</em><br />
                                    {% if entity.resumen %}
                                        <div class="well panel-primary">
                                            {{ entity.resumen }}
                                        </div>
                                    {% endif %}
                                    {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "cccc, d 'de' MMMM 'del' Y") }}<br />
                                    {{ entity.lugar }}<br />
                                    {{ entity.hora|date('H:i') }} horas<br />
                                </div>
                            </div>
                        <div class="page-header"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>