{% extends 'SeminarioBundle::layout.html.twig' %}
{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <br>
                <div class="col-md-3 col-md-offset-9">
                    <a href="{{ path('evento_ics') }}" class="btn btn-primary" role="button">
                        Genarar calendario
                    </a>
                </div>
            </div>
            <h1><small><i class="fa fa-book"></i> Eventos semana</small></h1>
            <hr>
            {#{{ "Saturday this week" |date('d') }}#}
            {% for entity in entities %}
                <h3>{{ entity.seminario }}<small> {{ entity.lugar }}</small></h3>
                {% for responsable in entity.seminario.responsables %}
                    <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{ responsable.nombre }} {{ responsable.apellidos }} </a> /
                {% endfor %}
                <div class="well well-lg">

                    <p align="center"><b>{{ entity.platica }}</b></p>
                    <h4>{{ entity.ponente }}<small> {{ entity.origen }}</small></h4>
                    <hr>
                    <p align="justify" >{{ entity.resumen }}</p>
                    <p>{{ entity.coment }}</p>
                    <hr>
                    <h5 align="right">{{ entity.fecha|date('d-m-Y') }} {{ entity.hora|date('H:i') }} hrs</h5>
                    <a href="{{ path('eventos_anteriores',{'seminario': entity.seminario.id}) }}">
                        Eventos anteriores
                    </a>
                </div>
            {% endfor %}
            <li>
                <a href="{{ path('evento_mail') }}">Enviar por correo</a>
            </li>

        </div>
    </div>

{% endblock %}
