{% extends 'SeminarioBundle::layout.html.twig' %}
{% block body -%}
    <br>

    <h1><small><i class="fa fa-book"></i> Eventos proximos CCM</small></h1>
    Del {{ "next week"|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM") }} al {{ "next week"|date_modify("+4 day")|localizeddate('none', 'none', 'es-MX', null, "d 'de' MMMM y") }}
    <hr>
    <br><br>
    {% for entity in entities %}
        <div class="row">
            <div class="col-md-1 text-center">
                {# {{ entity.fecha|date('d-m-Y') }} #}
                <button type="button" class="btn btn-primary">
                    <strong>{{ entity.fecha|date('d', false) }}</strong><br />
                    {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "EEE") }}
                </button>
            </div>
            <div class="col-md-11">
                <span style="font-size: 18px; color: #777">{{ entity.seminario | upper }}</span>
                <h4>{{ entity.platica }}</h4>
                <strong>{{ entity.ponente }}</strong> - <em>{{ entity.origen }}</em><br /><br />
                {{ entity.lugar }}<br />
                {{ entity.hora|date('H:i') }} hrs<br /><br />
                {#{{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "cccc, d MMMM Y 'às' hh:mm aaa") }}#}

                <div class="page-header"></div>
            </div>
        </div>


    {% endfor %}

{% endblock %}
