{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    <br><br>
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            <br>
            <legend><i class="fa fa-th-list"></i> Coloquio y Seminarios CCM</legend>

                    <p>
                    <a href="{{ path('seminario') }}" class="btn btn-primary btn-sm" role="button">
                        Nuevo Evento
                    </a>
                    <a href="{{ path('eventos_semana') }}" class="btn btn-default btn-sm" role="button">
                        Eventos semana
                    </a>
                        <a href="{{ path('eventos_semanasig') }}" class="btn btn-default btn-sm" role="button">
                            Eventos proximos
                        </a>
                    </p>

            <br>

            <table id="myTable"  class="display" >
                <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Seminario</th>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Ponente</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        {#<td><a href="{{ path('evento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                        <td><a href="{{ path('evento_show', { 'id': entity.id }) }}">{{ entity.seminario }}</a></td>
                        <td>{{ entity.lugar }}</td>
                        <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if entity.hora %}{{ entity.hora|date('H:i:s') }}{% endif %}</td>
                        <td>{{ entity.ponente }}</td>
                        <td>
                                {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('evento_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i>&nbsp;editar</a> |
                                {% endif %}
                                    <a href="{{ path('eventos_anteriores',{'seminario': entity.seminario.id}) }}" class="btn btn-default btn-xs">Eventos anteriores</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
