{% extends 'SeminarioBundle::layout.html.twig' %}
{% block body -%}
<br>
<div class="row">
    <div class="col-md-6">
        <h1>{{ entity.seminario.nombre }}{{ entity.id}}</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>Datos de Evento</legend>
            <br>
            <div class="form-group">

                {{ form_label(form.seminario,'Seminario:') }}
                {{ form_errors(form.seminario) }}
                {{ form_widget(form.seminario,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">

                {{ form_label(form.lugar,'Lugar:') }}
                {{ form_errors(form.lugar) }}
                {{ form_widget(form.lugar,{'attr':{'class':'form-control'}}) }}

            </div>

            <div class="form-group">
                {{ form_label(form.fecha,'Fecha:') }}
                {{ form_errors(form.fecha) }}
                {# {{ form_widget(form.fecha) }} #}
                <div ng-controller="DatepickerCtrl" class="row">
                    {#<div>
                        {{ form_label(form.fecha,'Fecha:') }}
                    </div>
                    <div>
                        {{ form_errors(form.fecha) }}
                    </div>#}
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="date" id="proyecto1_seminariobundle_evento_fecha" name="proyecto1_seminariobundle_evento[fecha]" required="required" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                    {% do form.fecha.setRendered %}
                </div>
            </div>
            <div class="form-group">

                {{ form_label(form.hora,'Hora:') }}
                {{ form_errors(form.hora) }}
                {{ form_widget(form.hora) }}

            </div>
            <div class="form-group">

                {{ form_label(form.ponente,'Ponente:') }}
                {{ form_errors(form.ponente) }}
                {{ form_widget(form.ponente,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">

                {{ form_label(form.origen,'Origen:') }}
                {{ form_errors(form.origen) }}
                {{ form_widget(form.origen,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">

                {{ form_label(form.platica,'Platica:') }}
                {{ form_errors(form.platica) }}
                {{ form_widget(form.platica,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">

                {{ form_label(form.resumen,'Resumen:') }}
                {{ form_errors(form.resumen) }}
                {{ form_widget(form.resumen,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">

                {{ form_label(form.coment,'Comentario:') }}
                {{ form_errors(form.coment) }}
                {{ form_widget(form.coment,{'attr':{'class':'form-control'}}) }}

            </div>
            <br>
        </fieldset>
        <div>
            {{ form_label(form.submit,'Guardar') }}
            {{ form_widget(form.submit,{'label':'Guardar'},{'attr':{'class':'btn btn-default'}}) }}

        </div>
        {{ form_end(form) }}




        <a class="btn btn-default" href="{{ path('evento') }}">Ver seminarios</a>


        {% endblock %}

        {% block js %}

        {{ parent() }}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_es-mx.js"></script>
        <script src="{{ asset('bundles/seminario/js/ui-bootstrap-tpls-0.12.1.min.js') }}"></script>
        <script src="{{ asset('bundles/seminario/js/datepicker.js') }}" ></script>
        <script src="{{ asset('bundles/seminario/js/timepicker.js') }}" ></script>

{% endblock %}