{% extends 'SeminarioBundle::layout.html.twig' %}

{% block body -%}
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <h3>{{ entity.seminario.nombre }}</h3>

            <div class="page-header"><h3>{{ entity.platica }}</h3></div>
            <strong>{{ entity.ponente }}</strong> - <em>{{ entity.origen }}</em><br />
            <br />
            {{ entity.fecha|localizeddate('none', 'none',  'es-MX', null, "cccc, d 'de' MMMM 'del' Y") }}<br />
            {{ entity.lugar }}<br />
            {{ entity.hora|date('H:i') }} horas<br /><br />
            <div class="well panel-primary">
                {{ entity.resumen }}
            </div>

            <div class="page-header"></div>

            <table class="table">
                <tbody class=".table-hover">
                {% if entity.coment %}
                <tr>
                    <th>Comentario</th>
                    <td>{{ entity.coment }}</td>
                </tr>
                {% endif %}
                <tr class="text-muted ">
                    <th>Creado</th>
                    <td>{{ entity.fechaCap|localizeddate('none', 'none',  'es-MX', null, "d 'de' MMMM 'del' Y") }}</td>
                </tr>
                <tr class="text-muted">
                    <th>Modificado</th>
                    <td>{{ entity.modified |localizeddate('none', 'none',  'es-MX', null, "d 'de' MMMM 'del' Y") }}</td>
                </tr>
                </tbody>
            </table>

            <ul class="list-inline">
                {% if is_granted('ROLE_ADMIN') %}
                <li>{{ form(delete_form) }}</li>
                <li><a href="{{ path('evento_edit', { 'id': entity.id }) }}" class="btn btn-default">Editar </a></li>
                {% endif %}
                <li><a href="{{ path('evento') }}" class="btn btn-primary" >Ir a lista</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
